<%# Show the project's name, description and due date %>
<div class="booyah-box">
    <h2><%= @project.name %></h2><br />
    <h5><%= @project.description %></h5>
    <h5 id=dueDate><%= @project.due_date.strftime("%m/%d/%Y at %I:%M%P") %></h5>
</div>

<%# Show timeline for the project %>
<div class="box-timeline" id="visualization">
    <h7>* Click and drag tasks to re-arrange</h7>
    <br /><br />
</div>

<div class="box-timeline">
    <div id="newVisualization"></div>
    <br />
    <button id="addEvent" class="btn btn-primary">Add Event</button>

</div>


<script>
  
    var items = new vis.DataSet([
        {id: 1, content: 'Editable', editable: true, start: '2010-08-23', group: 1},
        {id: 2, content: 'Editable', editable: true, start: '2010-08-23T23:00:00', group: 2},
        {id: 3, content: 'Read-only', editable: false, start: '2010-08-24T16:00:00', group: 1},
        {id: 4, content: 'Read-only', editable: false, start: '2010-08-26', end: '2010-09-02', group: 2},
        {id: 5, content: 'Edit Time Only', editable: { updateTime: true, updateGroup: false, remove: false }, start: '2010-08-28', group: 1},
        {id: 6, content: 'Edit Group Only', editable: { updateTime: false, updateGroup: true, remove: false }, start: '2010-08-29', group: 2},
        {id: 7, content: 'Remove Only', editable: { updateTime: false, updateGroup: false, remove: true }, start: '2010-08-31', end: '2010-09-03', group: 1},
        {id: 8, content: 'Default', start: '2010-09-04T12:00:00', group: 2}
    ]);

    var container = document.getElementById('visualization');
    var options = {
        editable: true,   // default for all items
    };
    var timeline = new vis.Timeline(container, items, options);
    

    var newItems = new vis.DataSet([]);

    var newContainer = document.getElementById('newVisualization');
    var newOptions = {
        zoomFriction: 9, //Specifices how strong the zooming is for each scroll tick. Higher zooming friction will slow zooming speed.
        start: new Date(), //Sets the begining date of the project
        end: new Date(<%= @project.due_date.strftime("%Y, %m, %d") %>), //Sets the end date of the project
        timeAxis: {scale: 'day', step: 2}, //Specify a fxied scale and step size for the time axis
        // zoomable: true // disables timeline can be zoomed in/out by pinching or scrolling
    };

    var newTimeline = new vis.Timeline(newContainer, newItems, newOptions);

    //Creat the Due Date mark
    newTimeline.addCustomTime(new Date("<%= @project.due_date.strftime("%Y, %m, %d") %>"), "endDate");
    newTimeline.setCustomTimerMarker("Project Due", "endDate", "editable: false");
    newTimeline.setCustomTimeTitle("Project Due", "endDate");

    function test() {
        console.log("hi");
    }
    
    var obj = document.getElementById("addEvent");
    obj.addEventListener("click", test);

</script>